<!DOCTYPE html>
<html>
  <head>
    <title>Pinster</title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header
      class="flex items-center justify-between text-white bg-zinc-900 px-6 py-4"
    >
      <a href="/" class="text-2xl text-white">Pinster</a>
      <% if(isAuthenticated){ %>
      <nav class="flex gap-6 items-center">
        <a href="/profile">Profile</a>
        <a href="/">Feed</a>
        <a href="/logout" class="bg-red-500 text-white px-4 py-2 rounded-md"
          >Logout</a
        >
      </nav>
      <% } else{%>
      <nav class="flex gap-6 items-center">
        <a href="/login" class="bg-blue-500 text-white px-4 py-2 rounded-md"
          >Login</a
        >
      </nav>
      <% } %>
    </header>
  </body>
</html>
