<!DOCTYPE html>
<html>
  <head>
    <title>Pinster</title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header
      class="flex items-center justify-between text-white bg-zinc-900 px-6 py-4"
    >
      <h1 class="text-2xl">Pinster</h1>
      <nav class="flex gap-6 items-center">
        <a href="/profile">Profile</a>
        <a href="/feed">Feed</a>
        <a href="/logout" class="bg-red-500 text-white px-4 py-2 rounded-md"
          >Logout</a
        >
      </nav>
    </header>