# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build directories
dist/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# npm package lock
package-lock.json

# Yarn lock
yarn.lock

# IDE files
.vscode/
.idea/

# Test coverage reports
coverage/

# Temporary files
*.swp
*.swo

# Ignore images in the uploads folder
public/images/uploads/*.jpg
public/images/uploads/*.png
public/images/uploads/*.jpeg
public/images/uploads/*.gif
public/images/uploads/*.svg
public/images/uploads/*.webp
public/images/uploads/*.ico